{% extends 'base.html' %}

{% block body %}
    <h1 class="font-italic text-light">DETAIL</h1>
    <br/>

    <div class="card border-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header">{{ review.title }}</div>
      <div class="card-body text-secondary">
        <h3 class="card-title">{{ review.movie_title }}</h5>
        <h4 class="card-text">{{ review.rank }}</p>
        <h6 class="card-text">생성 시간 : {{ review.created_at }}</p>
        <h6 class="card-text">수정 시간 : {{ review.updated_at }}</p>
      </div>
    </div>

    <a href="{% url 'community:update' review.pk %}" class="btn btn-light font-weight-light d-inline-block">수정</a>
    <form action="{% url 'community:delete' review.pk %}" method="POST" class="d-inline-block">
        {% csrf_token %}
        <button class="btn btn-light font-weight-light">삭제</button>
    </form>
    <br/><br/>
    <a href="{% url 'community:review_list' %}" class="btn btn-light font-weight-light">글 목록</a>
{% endblock %}